@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap');

:root {
    --clr-red: hsl(0, 100%, 68%);
    --clr-blue-900: hsl(230, 29%, 20%);
    --clr-blue-500: hsl(230, 11%, 40%);
    --clr-blue-300: hsl(231, 7%, 65%);
    --clr-blue-100: hsl(207, 33%, 95%);
    --ff-body: 'Barlow', sans-serif;
    --ff-second: 'Barlow Condensed', sans-serif;
}

body {
    font-size: 18px;
    font-family: var(--ff-body);
}
